.wrapper {
    background-color: cadetblue;
    position: fixed;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    padding: 20px 0;
    overflow-x: hidden;
    transition: 1s;
    z-index: 1;
}

.sidemenu {
    background-color: cadetblue;
    position: fixed;
    left: 0;
    top: 0;
    width: 200px;
    height: 100%;
    padding: 20px 0;
    overflow-x: hidden;
    transition: 1s;
    z-index: 1;
}


.open-close{
    position: relative;
    left: 130px;
}
.btn-close{
    // width: 0;
    position: relative;
    // transition: 1s;
}